.banner {
  background: #f3f6ef;
  padding-top: 127px;
  padding-bottom: 94px;
  &__title {
    width: 434px;
    color: #2f2a37;
    font-family: "Avenir-bold", sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 115%;

    @media (max-width: 1076px) {
      font-size: 40px;
      line-height: 40px;
    }
    @media (max-width: 992px) {
      font-size: 25px;
      line-height: 25px;
    }
    @media (max-width: 455px) {
      font-size: 25px;
      line-height: 25px;
      width: 300px;
    }
  }
  &__text {
    color: #6e6c72;
    margin-top: 31px;
    /* Text */
    font-family: Avenir, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    width: 432px;
    @media (max-width: 455px) {
      width: 300px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__button {
    color: var(--ed-space, #2f2a37);
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid transparent;
    background: var(
      --gradient,
      linear-gradient(129deg, #6bffca 0%, #00ff47 100%)
    );

    padding: 19px 27px;
    margin-top: 74px;

    cursor: pointer;
    transition: 0.3s;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    }
  }
  .img-absolute {
    position: absolute;
    top: -50%;
    right: -50%;
    border-radius: 821px;
    width: 821px;
    height: 821px;

    @media (max-width: 992px) {
      width: 400px;
      height: 400px;
      top: -30%;
      right: -30%;
    }
    @media (max-width: 645px) {
      display: none;
    }
  }

  &__img {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__left {
  }
}
