<section class="choice">
  <div class="container">
    <h2 class="choice__title">Выбирайте Ed Space сегодня и вы получите</h2>
    <ul class="choice__list">
      <li class="choice__item">Неограниченное колличество учеников</li>
      <li class="choice__item">Трансляции</li>
      <li class="choice__item">Точная статистика</li>
      <li class="choice__item">Производительную видеосвязь с учениками</li>
      <li class="choice__item">Продукт с ежемесячной подпиской</li>
      <li class="choice__item">Лучшая конфиденциальность и защита</li>
      <li class="choice__item">Готовый шаблон для организации обучения</li>
      <li class="choice__item">Сообщества</li>
      <li class="choice__item">Любое количество уроков и учебных программ</li>
    </ul>

    <div class="choice__inner">
      <h2 class="choice__inner-title">Запустите свою онлайн-школу</h2>
      <p class="choice__inner-text">
        Или разверните корпоративный учебный портал уже сегодня.
      </p>
      <h3 class="price">Цена 250 рублей за 1 ученика в месяц</h3>
      <p class="description">
        Все готово для запуска. Попробуйте 7-дневный демо-доступ.
      </p>

      <button class="choice__button">Попробовать бесплатно</button>
    </div>

    <div class="choice__inner-flex">
      <div class="choice__left">
        <h2 class="choice__inner-title">Точно подойдет для:</h2>
        <h3 class="price">Любых онлайн-школ</h3>
        <p class="description">
          Быстрый запуск, легкое управление, все инструменты в одной платформе.
        </p>
        <h3 class="price">Образовательных курсов</h3>
        <p class="description">
          Статистика по всем образовательным процессам позволяет постоянно
          улучшать ваш продукт.
        </p>
        <h3 class="price">Корпоративных учебных порталов</h3>
        <p class="description">
          Надежная защита, бесперебойная работа и высокая производительность
          системы позволит наслаждаться процессом обучения.
        </p>
      </div>
      <div class="choice__right">
        <img src="./img/last-image.png" alt="choice-img" class="choice__img" />
      </div>
    </div>
  </div>
</section>
