<section class="trying">
  <div class="container">
    <h2 class="trying__title">Точно подойдет для:</h2>
    <div class="trying__inner">
      <div class="trying__left">
        <img
          class="trying__img"
          src="./img/organization.png"
          alt="organization"
        />
        <div class="info">
          <h3 class="info__title">Организации онлайн-курсов</h3>
          <p class="info__text">
            Cоздайте свою программу обучения с нуля, самостоятельно управляйте
            учебным процессом в несколько кликов, круглосуточная поддержка.
          </p>
        </div>
      </div>
      <div class="trying__right">
        <img class="trying__img" src="./img/create.png" alt="create" />
        <div class="info">
          <h3 class="info__title">Создания корпоративного обучения</h3>
          <p class="info__text">
            Поможем перенести корпоративную академию, базу знаний, учебные
            курсы, настроим систему мотивации обучения, круглосуточная
            поддержка.
          </p>
        </div>
      </div>
    </div>
    <button class="trying__button">Попробовать бесплатно</button>
  </div>
</section>
